/* news board */

#news-board-wrapper {
  padding: 35px 0;
  background: #efede6;
  h1, h2, p {
    margin: 0;
  }
  .news-box {
    padding: 0px 25px;
    height: auto;
    @media (min-width: @screen-sm-min) {
      padding: 0px 3%;
      height: 780px;
    }
    background-color: @brown-gray-light;
    .category-title {
      width: 100%;
      padding: 15px 0;
      border-bottom: 2px solid @primary-1;
      text-align: center;
      font-size: 36px;
      a {
        color: @primary-1;
        display: inline-block;
        width: 100%;
        &:hover {
          text-decoration: none;
        }
        h1 {
          display: inline;
          vertical-align: middle;
          padding-left: 10px;
        }
        span.glyphicon {
          vertical-align: middle;
        }
      }
    }
    .news-list {
      .news {
        height: 130px;
        overflow: hidden;
        div {
          color: @steel;
          font-size: 16px;
          height: 44px;
          overflow: hidden;
        }
        h2.news-title {
          padding: 10px 0;
          height: 86px;
          display: block;
          overflow: hidden;
          a {
            color: @brown-gray-dark;
            // color: @primary-2;
            text-decoration: none;
            font-size: 20px;
            &:hover {
              color: #846518;
            }
          }
        }
      }
    }
  }
}