<if "%{HTTP_HOST} == 'localhost:8888'">
    
# Development

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /claroc/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /claroc/index.php [L]
</IfModule>

</if>

<if "%{HTTP_HOST} == 'claroc.herokuapp.com'">

# Production

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
    
</if>

